.blog-item {
  display: flex;
  flex-flow: column nowrap;
  max-width: 600px;
  font-family: var(--font-family-main);
  color: var(--color-main);

  &__image-block {
    position: relative;
    width: 100%;
    height: auto;
    //height: 100%;
    min-height: 16.75rem;
    border-radius: 0.4rem;
    background-color: var(--color-content);
  }

  &__image {
    width: 100%;
    height: auto;
    padding: 0;
    margin:  0;
    border-radius: 0.4rem;
  }

  &__by-author {
    margin-top: 0.9rem;
    font-size: 0.8125rem;
    font-weight: 300;
    font-style: normal;
    font-stretch: expanded;
    line-height: normal;
    letter-spacing: normal;
    color: var(--color-title);
  }

  &__tittle {
    margin-top: 0.625rem;
    font-family: var(--font-family-title);
    font-size: 1.3rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: normal;
  }

  &__time {
    display: flex;
    align-items: center;
    margin-top: 0.8125rem;
    font-size: 0.8125rem;
    font-weight: 300;
    color: var(--color-title);
  }

  &__time-ico {
    float: left;
    margin-right: 0.5rem;
  }

  &__description {
    margin-top: 0.9rem;
    font-family: var(--font-family-main);
    font-size: 0.9rem;
    font-weight: 300;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: 0.06rem;
    color: var(--color-main);
  }

}
