 @font-face {
   font-family: "Gilroy-Light";
   src: url("../assets/fonts/Gilroy-Light.otf") format("otf")
 }

 @font-face {
   font-family: "Sansation-Regular";
   src: url("../assets/fonts/Sansation_Regular.ttf") format("ttf")
 }