.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 2.4375rem;
  height: 15.9375rem;
  color: var(--color-sub-main);
  background-color: var(--color-main);

  &__socials {

  }

  &__nav {
    font-size: 1rem;
  }

  &__address {
    text-align: right;
    font-family: var(--font-family-main);
    font-size: 1.125em;
    line-height: 1.2;
    font-weight: 100;
  }

  &__address-sub-text {
    color: var(--color-success)
  }

  &__email-link {
    color: var(--color-success)
  }

  &__copirating {
    width: 100%;
    text-align: center;
    font-family: var(--font-family-main);
    line-height: 1.5;
  }

}