/* variables ================================= */
:root {
  --font-size: 16px;

  --font-family-main: 'Gilroy-Light',sans-serif;
  --font-family-title: 'Sansation-Regular',sans-serif;

  --color-main: #0f0f49;
  --color-sub-main: #ffffff;
  --color-title: #181860;
  --color-content: #d8d8d8;
  --color-success: #4ad070;
  --color-sub-success: #00ff00;
}